<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="amqSettings" type="Plato.Configuration.ConfigurationSectionHandler, Plato.Configuration" />
  </configSections>

  <appSettings configSource="AppSettings.config" />
  <amqSettings configSource="AMQSettings.config" />
</configuration>