<rmqSettings>
  <connectionSettings
    name="connection"
    username="guest"
    password="guest"
    virtualhost="/"    
    xuri="amqp://host.docker.internal:5672,amqp://host.docker.internal:5673,amqp://host.docker.internal:5674"    
    uri="amqp://host.docker.internal:5672"
    delayOnReconnect="1000" />

  <exchange name="Queue_Exchange"
            exchangeName="test.direct"
            type="direct"
            durable="true"
            autoDelete ="false" />

  <queue name="test.items"
         queueName="test.items"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true">

    <arguments x-dead-letter-exchange=""
               x-dead-letter-routing-key="DLQ_test.items" />
        
  </queue>

  <queue name="lms.activity.items"
          queueName="lms.activity.items"
          durable ="true"
          exclusive="false"
          autoDelete="false"
          persistent="true">

    <arguments x-dead-letter-exchange=""
               x-dead-letter-routing-key="DLQ_lms.activity.items" />
  </queue>

</rmqSettings>
