<?xml version="1.0"?>
<amqSettings> 
 <!-- Used for sending queued messages (local)-->
  <connectionSettings
    name="localConnection"
    username="admin"
    password="admin"
    uri="tcp://localhost:61616?tcpNoDelay=true,tcp://localhost:61616?tcpNoDelay=true,"    
    delayOnReconnect="500"/>  
  
  <!-- Local connection -->  
  <destinationSettings
    name="Monitor.PCA"    
    deliveryMode="persistent"
    path="queue://PCA" />

  <destinationSettings
    name="Monitor.CMS"
    deliveryMode="persistent"
    path="queue://CMS" />
  
  <destinationSettings
    name="SmsConfig"
    deliveryMode="persistent"
    path="queue://SMS_CONFIG" />

  <destinationSettings
    name="Sms.SmsProviderDetails"
    deliveryMode="persistent"
    path="queue://Consumer.Sms.VirtualTopic.CallT.BusinessActivity.SmsProviderDetails" />

</amqSettings>
