<?xml version="1.0"?>
<rmqSettings>
  <connectionSettings
    name="connection"
    username="guest"
    password="guest"
    virtualhost="/"
    xuri="amqp://host.docker.internal:5672,amqp://host.docker.internal:5673,amqp://host.docker.internal:5674"
    uri="amqp://host.docker.internal:5672"
    delayOnReconnect="1000" />

  <!-- Producer/Consumer Test -->
  <queue name="ProConQueueTest"
         queueName="ProConQueueTest"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true">
    
    <!-- optional --> 
    <arguments x-dead-letter-exchange=""
               x-dead-letter-routing-key="My.Queue.DLQ" />
    
    <!-- optional -->
    <consumer tag="123456" 
              exclusive="true"
              noAck="true"
              noLocal="true" />
  </queue>

  <!-- Pub/Sub Fanout -->
  <exchange name="Test.FanoutExchange"
            exchangeName="Test.FanoutExchange"
            type="fanout"
            durable="true"
            autoDelete ="false" />

  <queue name="Test.FanoutQueue"
         queueName="Test.FanoutQueue"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true"/>

  <!-- Pub/Sub Direct -->
  <exchange name="Test.DirectExchange"
            exchangeName="Test.DirectExchange"
            type="direct"
            durable="true"
            autoDelete ="false" />

  <queue name="Test.DirectQueue"
         queueName="Test.DirectQueue"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true"
         routingKeys="R1, R2, R3"/>

  <!-- Pub/Sub Topic-->
  <exchange name="Test.TopicExchange"
            exchangeName="Test.TopicExchange"
            type="topic"
            durable="true"
            autoDelete ="false" />

  <queue name="Test.TopicQueue1"
         queueName="Test.TopicQueue"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true"
         routingKeys="*.orange.*"/>

  <queue name="Test.TopicQueue2"
         queueName="Test.TopicQueue"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true"
         routingKeys="lazy.#, *.*.rabbit"/>

  <!-- Sample with consumer node -->
  <queue name="SomeName"
         queueName="someQueueName"
         durable ="true" 
         exclusive="false" 
         autoDelete="false">
    
    <!-- not required -->
    <consumer tag ="someTagValue"
              exclusive="false"
              noAck="false"
              noLocal="false"/>    
        
  </queue>

  <exchange name="my_rmq_test_exchange"
            exchangeName="test.direct"
            type="direct"
            durable="true"
            autoDelete ="false" />

  <queue name="my_rmq_test"
         queueName="MY_RMQ_TEST"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true"
         routingKeys="red,yellow">

    <arguments x-dead-letter-exchange=""
               x-dead-letter-routing-key="DLQ_MY_RMQ_TEST" />

  </queue>
</rmqSettings>
